/* --------------------------------------------------
             GENERAL SETTING
------------------------------------------------------ */
*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: 'roboto';
  color: black;
}

h1 {
  font-size: 26px;
  font-family: 'shrikhand';
  text-align: center;
  padding: 30px 0px 0px 20px;
  margin: 0;

}

h2 {

  padding-top: 30px;
  font-size: 18px;
  font-weight: 300;
}

h3 {
  width: 100%;
  font-size: 18px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

ul,li {
  list-style-type: none;
}

a {
  color: black;
  text-decoration: none; 
}

/* --------------------------------------------------
                    COLORS
------------------------------------------------------ */

:root {
    --primary-color:#9356dc;
    --secondary-color:#ff79da;
    --thirdth-color:#99e2d0;
    --dark-grey : #DBDBDB;
    --medium-grey: rgb(234, 234, 234);
    --ligh-grey: rgb(246,246,246);
    --black:rgb(53,53,53);
  }

  


/* --------------------------------------------------
                   BOUTON
------------------------------------------------------ */

.btn-gradient {
  padding:15px 35px;
  box-shadow:0px 0px 10px -1px #aeaeae;
	/* background:linear-gradient(to bottom,  var(--secondary-color) 5%, var(--primary-color) 100%); */
	background-color:var(--secondary-color);
	border-radius:30px;
	border:none;
	color:#ffffff;
	font-family:Arial;
	font-size:14px;
	font-weight:bold;
	text-decoration:none;
	text-shadow:0px 1px 0px var(--primary-color);
  cursor: pointer;
}

.btn-gradient:hover {
  cursor: pointer ;
  box-shadow:3px 05px 20px 1px #989393;
  background:linear-gradient(to bottom,  var(--secondary-color) 5%, var(--primary-color) 100%);
  transition-duration: 1s;
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  filter: brightness(1.1);
}

.btn-white {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: fit-content;
  font-size: 20px;
  font-weight: 300;
  color: black;
  padding: 0px 0px 0px 0px ;
  margin: 0px 0px 25px 0px;
  background-color:#ffffff;
  box-shadow:-5px 8px 10px -8px #aeaeae;
  border-radius: 15px ;
  overflow: hidden;
}

.btn-white:hover {  
  cursor: pointer;
}

.btn-grey:hover {
  font-size: 22px;
  color: var(--primary-color);
  margin-right: 25px;
  background-color: rgba(147,86,220,0.1);
  box-shadow:5px 10px 10px -10px #5d5959;
}

.btn-nouveau {
  position: absolute;
  top: 17px;
  right: 15px;
  font-size: 14px;
  padding: 5px 20px;
  color: green;
  background-color: var(--thirdth-color);
  outline: none;
  border: none;
}

/* --------------------------------------------------
                   ANIMATION
------------------------------------------------------ */

/* .................animation fading apparition liste menu....  */

.fading1 {
  -webkit-animation: fading ease-in 1 0.7s;
  
}

.fading2{
  -webkit-animation: fading ease-in 1 0.9s;
  
}

.fading3 {
  -webkit-animation: fading ease-in 1 1.1s;
  
}

.fading4 {
  -webkit-animation: fading ease-in 1 1.3s;

}

@keyframes fading {

  0% {
    
    transform: translateY(21%);
    opacity: 0;
    
  }

  100% {
    opacity: 100%;
    
  }
  
}

/* --------------------------------------------------
                   PAGE
------------------------------------------------------ */

.page-wrapper {
  background-color: var(--ligh-grey);
  width: 100%;
  height: fit-content;
  padding-top: 67px;
  
}

/* --------------------------------------------------
                    HEADER
------------------------------------------------------ */
header {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  height: fit-content;
  background-color: #ffffff;
  z-index: 2;
}

.logo { 
  margin: 15px auto;
}

 

.fa-arrow-left {

    position: absolute;
    font-size: 22px;
    font-weight: 600;
    top: 15px;
    left: 25px;
    width: 5px;
}

/* --------------------------------------------------
                    FRONT IMAGE
------------------------------------------------------ */
.front-image {
    position: relative;
    width: 100%;
    height:fit-content;
}

.front-image img {
    width: 100%;
    object-fit: cover;
}

.rest-name-wrapper {
    width: 100%;
    position: absolute;
    bottom: 0px;
    left: 0px;
    background-color: transparent;
}

.rest-name {
    width: 100%;
    display: flex;
    border-radius: 45px 45px 0px 0px;
    background: var(--ligh-grey);

}

.heart-wrapper {
  position: relative;
  top: 30px;
  left: 25px;
  height: fit-content;  
}

.heart-wrapper .fa-regular {
  position: absolute;
  top: 0;
  font-size: 25px;
  -webkit-background-clip: text;
  background: transparent;
  opacity: 0.5;
}

.heart-wrapper .fa-solid {
  position:absolute;
  top: -1px;
  cursor: pointer;
  font-size: 25px;
	background: pink;
  opacity: 0;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
  transform: scale(0.7,0.5);
  z-index: 1;
}

.heart-wrapper .fa-solid:hover {
  position: absolute;
  top: 0;
  cursor: pointer;
  font-size: 25px;
	background: linear-gradient(to top, #ff79da, #e86edb, #cf64dc, #b35cdc, #9356dc);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
  transform: scale(1,1);
  transition: 0.5s;
  transform-origin: bottom;
  opacity: 1;
}
/* --------------------------------------------------
                    MENU
------------------------------------------------------ */

.menu-wrapper {
    background-color: var(--ligh-grey);
    padding: 0px 15px;
}

h2 {
    margin-left: 10px;
    padding-bottom: 8px;
    margin-bottom: 10px;
}

.soulignement-vert-h2 {
  position: relative;
  width: 40px;
  height: 1px;
  bottom: 12px;
  left: 10px;
  border-top: 3px var(--thirdth-color) solid;
}

.sous-titre { 
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 10px 0px 0px 10px;

}

.overflow {
  width: 55%;
}

.overflow p {
  font-size: 13px;
  font-weight: 350;
  padding: 10px 0px;
  text-align: justify;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
   
.sous-titre span {
  position: relative;
  top: 25px;
  font-size: 15px;
  font-weight: bold;
  padding-right: 15px;
}

/* ..........animation retration....... */

.retractation {
  height: 66px;
  background-color: var(--thirdth-color);
  border-radius: 0px 15px 15px 0px;
  display: none;
}

.btn-white:hover>.retractation {
  display: inline-block;
  width: 30%; 
  -webkit-animation: retracter 0.5s;
}

@keyframes retracter {
  
  0% {
    width: 0;
  }

  100% {
    transform: scale(1);
    visibility: visible;
    width: 30%;
  }
  
}

/* .......... animation rotation check........  */

.rotation {
  display: flex;
  justify-content: center;
  margin: 13px auto;
  background-color: var(--thirdth-color); 
  width: 33%;
  border-radius: 50%;
}

.btn-white:hover>.retractation>.rotation {
  -webkit-animation: spin 0.5s;
}


@keyframes spin {
  
0% {
  transform: rotate(0deg);
  
}

100% {
  transform: rotate(360deg);

}

}

.fa-circle-check {
  
  font-size: 40px;
  color:#ffffff;
  background-color:var(--thirdth-color);
  
}





/* --------------------------------------------------
                    COMMANDER
------------------------------------------------------ */

.btn-gradient-wrapper {
  background-color:var(--ligh-grey);
  text-align: center;
  padding-top: 25px;
  padding-bottom: 45px;
  border: 2px green solid;
}

/* --------------------------------------------------
                    FOOTER
------------------------------------------------------ */

footer {
  background-color: var(--black);
  padding: 30px 20px;
  color: white;
}

footer h2 {
  font-family: 'shrikhand';
  font-weight: 300   ;
  color: white;
  padding-top: 20px;
  padding-bottom: 30px;
}

footer a {
  color: #ffffff;
}

footer ul {
  padding-bottom: 40px;

}

footer li {
  font-size: 17px;
  padding-bottom: 10px;
  font-weight: 375;
}

.fa-utensils, .fa-handshake-angle {
  padding-right: 10px ;
}

/* =================================== MEDIA QUERIES ================================= */


/* ......MEDIA MIN 800px ...................... */

@media screen and (min-width: 800px) {

  .menu-wrapper {
    display: flex;
    justify-content: space-between;
  }

  .entrees-wrapper, 
  .plats-wrapper, 
  .desserts-wrapper {
    width: 33%;
    }
  }

  /* ......MEDIA MIN 577px ...................... */


@media screen and (min-width: 577px) and (max-width:799px){

  .menu-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 100px;
    }

  .btn-white {
  width: 140%;
  }

  .rest-name {
  justify-content: center;
  }

  .entrees-wrapper, 
  .plats-wrapper, 
  .desserts-wrapper {
    width: 60%;
    }
} 
