/* --------------------------------------------------
             GENERAL SETTING
------------------------------------------------------ */
*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: 'roboto';
  color: black;
}

h1,h2 {
  font-size: 23px;
}

h3 {
  font-size: 21px;
}

p {
  font-size: 17px;
}

ul,li {
  list-style-type: none;
}

a {
  color: black;
  text-decoration: none; 
}

 

/* --------------------------------------------------
                    COLORS
------------------------------------------------------ */

:root {
    --primary-color:#9356dc;
    --secondary-color:#ff79da;
    --thirdth-color:#99e2d0;
    --dark-grey : #DBDBDB;
    --medium-grey: rgb(234, 234, 234);
    --ligh-grey: rgb(246,246,246);
    --black:rgb(53,53,53);
  }

  


/* --------------------------------------------------
                   BOUTON
------------------------------------------------------ */

.btn-gradient {
  padding: 20px;
  box-shadow:0px 0px 10px -1px #aeaeae;
	background:linear-gradient(to bottom,  var(--secondary-color) 5%, var(--primary-color) 100%);
	background-color:var(--secondary-color);
	border-radius:30px;
	border:none;
	color:#ffffff;
	font-family:Arial;
	font-size:14px;
	font-weight:bold;
	padding:15px 15px;
	text-decoration:none;
	text-shadow:0px 1px 0px var(--primary-color);
}

.btn-grey {
  width: 100%;
  font-size: 22px;
  font-weight: 800;
  color: black;
  text-align: left;
  padding: 25px 0px 25px 50px ;
  margin-bottom: 25px;
  background-color: var(--ligh-grey);
  box-shadow:5px 10px 10px -8px #aeaeae;
  border-radius: 26px ;
  border: none;
}

.btn-grey:hover {
  font-size: 22px;
  color: var(--primary-color);
  margin-right: 25px;
  background-color: rgba(147,86,220,0.1);
  box-shadow:5px 10px 10px -10px #5d5959;
}

.btn-nouveau {
  position: absolute;
  top: 17px;
  right: 15px;
  font-size: 14px;
  padding: 5px 20px;
  color: green;
  background-color: var(--thirdth-color);
  outline: none;
  border: none;
}

/* --------------------------------------------------
                   ANIMATION CHARGEMENT
------------------------------------------------------ */

.spinner {
  z-index: 2;
  width: 200px;
  height: 200px;
  opacity: 0.60;
  border: 10px solid var(--black);
  border-top: 10px solid var(--primary-color);
  border-left: 10px solid var(--secondary-color);
  border-bottom: 10px solid var(--thirdth-color);
  border-radius: 50%;
 
  /* données d'animation */

  animation: spin 0.5s linear 6 ;
  transform: scale(0,0);
  opacity: 1;
  
  /* placement de l'animation au centre */

  margin: auto;
  position: fixed;
  top: 0  ; bottom: 0; left: 0; right: 0;
}

  /* animation  */

  @keyframes spin {
    
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }

  }

   /* animation Delay affichage de la page*/

   @keyframes delay-display {

    0% {
      
      background-color: #5d5959;
      transform: scale(0);
      opacity: 0;
      
    }

    78% { transform: scale(0);
          opacity: 0.7;
       

    }

    100% {
      animation-delay: 5s ;
      transform: scale(1);
      opacity:1;
      
    }
  }
   
  
.page-wrapper-accueil {
  background-color: var(--ligh-grey);
  width: 100%;
  height: fit-content;
  padding-top: 67px;

  }

.page-wrapper-accueil, header, 
.search-wrapper, .fonctionnement-wrapper,
 .restaurant-wrapper, footer {

  animation-name : delay-display;
  animation-duration: 4s;
  transition: cubic-bezier(0.19, 1, 0.22, 1);
 }
/* --------------------------------------------------
                   PAGE
------------------------------------------------------ */


  
/* --------------------------------------------------
                    HEADER
------------------------------------------------------ */
header {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  height: fit-content;
  box-shadow:0px 2px 5px  5px #aeaeae;
  background-color: #ffffff;
  z-index: 1;
}

.logo { 
  margin: 15px auto;
}

/* --------------------------------------------------
                    RECHERCHE
------------------------------------------------------ */

.search-wrapper {
  align-items: center;
  width:100%;
  height: fit-content;
  background-color: var(--ligh-grey);
  padding-bottom: 20px;
}

/* ..................... barre de recherche ............... */

.search-bar {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: var(--medium-grey);
  padding: 20px 0px;
}

label {
margin-right: 10px;
}

.fa-location-dot {
  font-size: 15px;
}

input {
  font-size: 15px;
  width: 35%;
  background-color: var(--medium-grey);
  text-align:center;
  border: none;
  outline: none;
}

/* ....................texte........................ */

.search-text {
  text-align: center;
  background-color: var(--ligh-grey);
  margin: 30px auto;
  width: 75%;
}

h1 {
  font-size: 23px;
  font-weight: bold;
  padding: 0px 10px;
}

.search-text  p {
  font-weight: 350;
  padding-bottom: 25px;
}

 /* --------------------------------------------------
                  FONCTIONNEMENT
------------------------------------------------------ */

.fonctionnement-wrapper {
  position: relative;
  margin: 35px 20px;
  padding: 0px 15px;
}

.fonctionnement-wrapper h2 {
    margin-bottom: 25px;
}

.fonctionnement-wrapper li {
  position: relative;
  width: 100%;
  font-size: 16px;
  text-align: left;
  color: black;
  padding-right: 15px;
}

.fonctionnement-wrapper li::before {
  content:"1";
  position: absolute;
  left: -10px;
  top: 22px;
  color: white;
  background-color:var(--primary-color);
  padding: 5px 10px;
  border-radius: 50%;
}

.fonctionnement-wrapper li:nth-child(2)::before { 
  content:"2";
}

.fonctionnement-wrapper li:nth-child(3)::before {
  content:"3";
}


.fa-mobile-screen-button::after {
  content: "Choississez un restaurant";
  width: 100%;
  font-size: 16px;
  font-weight: 400;
  color: black;
  font-family: 'Roboto';
  padding-left: 20px;
}

.fa-list::after {
  content: "Composez votre menu";
  width: 100%;
  font-size: 16px;
  font-weight: 400;
  color: black;
  font-family: 'Roboto';
  padding-left: 20px;
  padding-right: 10px;
}

.fa-store::after {
  content: "Dégustez au restaurant";
  width: 100%;
  font-size: 16px;
  font-weight: 400;
  color: black;
  font-family: 'Roboto';
  padding-left: 20px;
}

/* --------------------------------------------------
                    RESTAURANT
------------------------------------------------------ */

.restaurant-wrapper {
  width:100% ;
  height: fit-content;
  text-align: center;
  gap: 24px ;
  background-color: var(--ligh-grey);
  margin: 40px 0px 0px 0px;
  padding: 80px 0px;
}

.restaurant-side-padding {
  padding: 0 20px;
}

.liste-restaurant {
  width: 100%;
}

.restaurant-frame {
  position: relative;
  width: 100%;
  background-color: #ffffff;
  border-radius: 22px 22px 22px 22px;
  box-shadow:0px 0px 15px -5px #aeaeae;
  margin-bottom: 20px; 
}

.restaurant-wrapper h2 {
  margin-bottom: 25px;
  margin-left: 20px;
  text-align: left;
}

  .restaurant-wrapper img {
    width: 100%;
    border-radius: 22px 22px 0px 0px;
    object-fit: cover;
}

.info-frame { 
  display: flex;
  justify-content: space-between;
  text-align: left;
  padding: 15px 15px;
  background-color: #ffffff;
  border-radius: 0px 0px 22px 22px;
}

.info-frame h3 {
  font-weight: bold;
}

.info-frame p {
  padding-top: 5px;
  font-weight: 350;
}

.heart-wrapper {
  position: relative;
  width: auto;
  height: fit-content;
  padding-right: 40px;
  padding-top: 10px;git
}


.heart-1 {
  position: absolute;
	width: 24px; 
	height: 24px;
	background: #ffffff;
	-webkit-clip-path:("M12 4.248c-3.148-5.402-12-3.825-12 2.944 0 4.661 5.571 9.427 12 15.808 6.43-6.381 12-11.147 12-15.808 0-6.792-8.875-8.306-12-2.944z");
	transform: scale(1.2,1);
  cursor: pointer;
} 

.heart-2 {
  position: absolute;
	width: 24px; 
	height: 24px;
	background: black;
	-webkit-clip-path:("M12 21.593c-5.63-5.539-11-10.297-11-14.402 0-3.791 3.068-5.191 5.281-5.191 1.312 0 4.151.501 5.719 4.457 1.59-3.968 4.464-4.447 5.726-4.447 2.54 0 5.274 1.621 5.274 5.181 0 4.069-5.136 8.625-11 14.402m5.726-20.583c-2.203 0-4.446 1.042-5.726 3.238-1.285-2.206-3.522-3.248-5.719-3.248-3.183 0-6.281 2.187-6.281 6.191 0 4.661 5.571 9.429 12 15.809 6.43-6.38 12-11.148 12-15.809 0-4.011-3.095-6.181-6.274-6.181");
  transform: scale(1.3,1.4);
}

.heart-1:hover {
  -webkit-background: linear-gradient(to top, #ff79da, #e86edb, #cf64dc, #b35cdc, #9356dc);
  transform: scale(1.5,1.7);
  transform-origin: center;
  transition: 0.5s;
  cursor: pointer;
}

/* --------------------------------------------------
                    FOOTER
------------------------------------------------------ */

footer {
  background-color: var(--black);
  padding: 30px 20px;
  color: white;
}

footer h2 {
  font-family: 'shrikhand';
  font-weight: 300   ;
  color: white;
  padding-top: 20px;
  padding-bottom: 30px;
}

footer a {
  color: #ffffff;
}

footer ul {
  padding-bottom: 40px;
}

footer li {
  font-size: 17px;
  padding-bottom: 10px;
  font-weight: 375;
}

.fa-utensils, .fa-handshake-angle {
  padding-right: 10px ;
}


/* ========================  BREAK 893px============================= */
@media  only screen and (min-width: 893px) {

    .fonctionnement-wrapper i {
    padding-left: 15px;
    text-align: left;
  }

  .fonctionnement-wrapper ul {
    width: 100%;
    display: flex;
  }

  .fonctionnement-wrapper li {
    width: 33%;
    padding:0px 14px;
  }

  .fonctionnement-wrapper li::before {
    left: 0px;
    top: 22px;
  }


  /* ........................restaurant. break 893px................. */
  @media  only screen and (min-width: 893px) {

  .liste-restaurant {  
    display: flex; 
    width: 100%;
    height: fit-content;
    justify-content: space-around;
    row-gap: 30px;
    flex-wrap: wrap;
  }
  
  .restaurant-frame {
    width: 45%;
  }
  
}

/* ======================== TAB BREAK 600px============================= */


@media  only screen and (min-width: 600px) {

    .fonctionnement-wrapper h2, .fonctionnement-wrapper i, .restaurant-wrapper h2 {
      text-align: center;
    }

    .fonctionnement-wrapper i { 
      padding-left: 0px;
    }

    .restaurant-wrapper h2 {
      margin-bottom: 35px;
    }

  }
/* .....................................end.of.code................................... */